/* Reset */

html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
p,
ul {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: Georgia, serif;
  color: #252525;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
}

@media (max-width: 739px) {
  .container {
    flex-direction: column;
    max-width: 340px;
  }
}

/* Menu */
